/* GLOBAL STYLES */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #333333;
	line-height: 28px;
	text-align: center;
	overflow-x: hidden !important;
	margin: auto !important;
}

a,
a:hover,
a:active,
a:focus {
	border: 0 none;
	outline: 0 none;
	text-decoration: none;
}

/* TYPOGRAPHIE */

h1,
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 42px;
	line-height: 62px;
}

h2 {
	font-size: 32px;
	line-height: 42px;
}

h3 {
	font-size: 22px;
	line-height: 38px;
	font-weight: 300;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
}

h5 {
	font-size: 18px;
	font-weight: 300;
}


/* FORM GROUPS */

.form-control {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	border-radius: 0px;
	box-shadow: none;
	height: 57px;
	padding-left: 20px;
}

/* CUSTOM CLASSES */

.white-text {
	color: #fff;
}

.colored-line-small-center {
	background: #008ed6;
	display: block;
	margin: auto;
	height: 1px;
	width: 25%;
	z-index: 1;
	margin-bottom: 5px;
}

.colored-line-right {
	background: #008ed6;
	display: block;
	float: right;
	height: 1px;
	width: 165px;
	z-index: 1;
}

.button-leweb {
	background: none repeat scroll 0 0 rgba(22, 182, 234, 0.5);
	border: 1px solid #fff;
	color: #fff;
	border-radius: 0px;
	box-shadow: none;
	height: 57px;
	padding-left: 18px;
	padding-right: 18px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.button-leweb:hover {
	background: #008ed6;
}


/* SECTIONS */

section {
	padding: 120px 0px;
}

/* HEADER */

#header {
	background: url(../images/metrostation4.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	padding: 0px;
}

#header .container {
	background: url(../images/body-bg1.png) repeat 0 0;
	height: 100vh;
	width: 100% !important;
	padding: 0px;
	z-index: 998;
}

#header .col-md-8 {
	top: 20%;
	right: 0;
	bottom: 0;
	left: 0;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
}

#header .logo {
	margin-bottom: 15px;
}

.animation {
	width: 100%;
	bottom: 0;
	height: 50px;
	overflow: hidden;
	position: relative;
	z-index: 999;
	text-align: center;
	text-decoration: none;
}

#header .fa-angle-down {
	text-align: center;
	font-size: 48px;
	color: #fff;

	-webkit-animation: leweb_fade_move_down 2s ease-in-out infinite;
	-moz-animation: leweb_fade_move_down 2s ease-in-out infinite;
	animation: leweb_fade_move_down 2s ease-in-out infinite;
}

/* Animated Arrow Down Header */

@-webkit-keyframes leweb_fade_move_down {
	0% {
		-webkit-transform: translate(0, -20px);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
}

@-moz-keyframes leweb_fade_move_down {
	0% {
		-moz-transform: translate(0, -20px);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		-moz-transform: translate(0, 20px);
		opacity: 0;
	}
}

@keyframes leweb_fade_move_down {
	0% {
		transform: translate(0, -20px);
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translate(0, 20px);
		opacity: 0;
	}
}


/* ABOUT */

#about i {
	color: #fff;
	font-size: 75px;
	background: #008ed6;
	border-radius: 50%;
	line-height: 175px;
	height: 175px;
	width: 175px;
}

/* SUBSCRIBE */

#subscribe {
	background: url(../images/bg-subscribe.jpg) no-repeat fixed center center / cover rgba(0, 0, 0, 0);
	padding: 0px;
	min-height: 430px;
}

#subscribe .icontop {
	position: absolute;
	color: #fff;
	margin: -30px auto;
	right: 0;
	left: 0;
	font-size: 25px;
	border-radius: 50%;
	line-height: 65px;
	height: 65px;
	width: 65px;
	background: rgba(0, 142, 214, 0.7);
	box-shadow: 0 0 0 1px #008ed6;
}

#subscribe .row {
	padding: 100px 0px 120px 0px;
}

#subscribe h5 {
	margin-bottom: 45px;
}

#subscribe .form-control {
	display: inline-block;
	border: 1px solid #fff;
	width: 320px;
}

#subscribe .form-control::-moz-placeholder {
	color: #fff;
}

#subscribe .button-leweb {
	display: inline-block;
}

#subscribe #mc_form label {
	display: block;
	font-size: 12px !important;
	margin-top: 10px;
	font-weight: normal;
	position: relative;
	color: #fff;
}

#subscribe #mc_form .valid:before {
	font-family: FontAwesome;
	top: 0;
	content: "\f058";
	font-size: 14px;
	margin-right: 4px;
	color: #b8c000;
}

#subscribe #mc_form .error:before {
	font-family: FontAwesome;
	top: 0;
	content: "\f071";
	font-size: 14px;
	margin-right: 4px;
	color: #bb1720;
}


/* CONTACT */

#contact .button-leweb {
	border: 1px solid #ccc;
}

#success {
	display: none;
}

#success i {
	color: #b8c000;
	font-size: 28px;
	display: block;
}

/* FOOTER */

#footer {
	border-top: 1px solid #ccc;
	padding: 25px 0px;
}

#footer p {
	margin: 0px 0px -5px;
}

#footer .social {
	float: right;
}

#footer .fa {
	font-size: 24px;
	color: rgba(22, 182, 234, 0.5);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#footer .fa:hover {
	color: #008ed6;
}

/*Button Css Start*/
@import url("https://fonts.googleapis.com/css?family=Roboto:900");

a {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	color: black;
	text-decoration: none;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.h-button {
	background: lightgreen;
	padding: 20px;
	width: 250px;
	text-align: center;
}

.h-button span {
	display: inline-block;
	min-width: 0.3em;
	text-transform: uppercase;
	transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
	opacity: 0;
	transform: translate(0, -20px);
}

.h-button:before {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	left: 0;
	transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
	text-transform: uppercase;
	letter-spacing: 3.5px;
	opacity: 1;
	transform: translate(0, 0px);
}

.h-button:hover:before,
.h-button:focus:before {
	opacity: 0;
	transform: translate(0, 20px);
}

.h-button:hover span,
.h-button:focus span {
	opacity: 1;
	transform: translate(0, 0);
}

.h-button:hover span:nth-child(1),
.h-button:focus span:nth-child(1) {
	transition-delay: 0.025s;
}

.h-button:hover span:nth-child(2),
.h-button:focus span:nth-child(2) {
	transition-delay: 0.05s;
}

.h-button:hover span:nth-child(3),
.h-button:focus span:nth-child(3) {
	transition-delay: 0.075s;
}

.h-button:hover span:nth-child(4),
.h-button:focus span:nth-child(4) {
	transition-delay: 0.1s;
}

.h-button:hover span:nth-child(5),
.h-button:focus span:nth-child(5) {
	transition-delay: 0.125s;
}

.h-button:hover span:nth-child(6),
.h-button:focus span:nth-child(6) {
	transition-delay: 0.15s;
}

/*Inactive Button Start*/
.inactive {
	background: red;
	padding: 20px;
	width: 250px;
	text-align: center;
}

.inactive span {
	display: inline-block;
	min-width: 0.3em;
	text-transform: uppercase;
	transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
	opacity: 0;
	transform: translate(0, -20px);
}

.inactive:before {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	left: 0;
	transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
	text-transform: uppercase;
	letter-spacing: 3.5px;
	opacity: 1;
	transform: translate(0, 0px);
}

.inactive:hover:before,
.inactive:focus:before {
	opacity: 0;
	transform: translate(0, 20px);
}

.inactive:hover span,
.inactive:focus span {
	opacity: 1;
	transform: translate(0, 0);
}

.inactive:hover span:nth-child(1),
.inactive:focus span:nth-child(1) {
	transition-delay: 0.025s;
}

.inactive:hover span:nth-child(2),
.inactive:focus span:nth-child(2) {
	transition-delay: 0.05s;
}

.inactive:hover span:nth-child(3),
.inactive:focus span:nth-child(3) {
	transition-delay: 0.075s;
}

.inactive:hover span:nth-child(4),
.inactive:focus span:nth-child(4) {
	transition-delay: 0.1s;
}

.inactive:hover span:nth-child(5),
.inactive:focus span:nth-child(5) {
	transition-delay: 0.125s;
}

.inactive:hover span:nth-child(6),
.inactive:focus span:nth-child(6) {
	transition-delay: 0.15s;
}

/*Inactive Buttonend*/
/*Button Css end*/

/*Translate Button*/
.switch {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}

.switch>span {
	position: absolute;
	top: 14px;
	pointer-events: none;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
	width: 50%;
	text-align: center;
}

input.check-toggle-round-flat:checked~.off {
	color: #008ed6;
}

input.check-toggle-round-flat:checked~.on {
	color: #fff;
}

.switch>span.on {
	left: 0;
	padding-left: 2px;
	color: #008ed6;
}

.switch>span.off {
	right: 0;
	padding-right: 4px;
	color: #fff;
}

.check-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.check-toggle+label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.check-toggle-round-flat+label {
	padding: 2px;
	width: 100px;
	height: 55px;
	background-color: #008ed6;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
	display: block;
	position: absolute;
	content: "";
}

input.check-toggle-round-flat+label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #008ed6;
	-webkit- -moz-border-radius: 60px;
	-ms-border-radius: 60px;
	-o-border-radius: 60px;
	border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 48px;
	background-color: #fff;
	-webkit-border-radius: 52px;
	-moz-border-radius: 52px;
	-ms-border-radius: 52px;
	-o-border-radius: 52px;
	border-radius: 52px;
	-webkit-transition: margin 0.2s;
	-moz-transition: margin 0.2s;
	-o-transition: margin 0.2s;
	transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label {}

input.check-toggle-round-flat:checked+label:after {
	margin-left: 44px;
}

/*Buttons Train Coaches*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

/*Heading*/

.btn {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

/*Blueline*/

.btn.blueline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.blueline span {
	z-index: 1;
	text-align: center;
}

.btn.blueline:before,
.btn.blueline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #3b76c0;
}

.btn.blueline:before {
	left: 0;
}

.btn.blueline:after {
	right: 0;
}

.btn.blueline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.blueline:hover:before,
.btn.blueline:hover:after {
	width: 51%;
}

/*Red Line*/
.btn.redline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.redline span {
	z-index: 1;
	text-align: center;
}

.btn.redline:before,
.btn.redline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #c0282c;
}

.btn.redline:before {
	left: 0;
}

.btn.redline:after {
	right: 0;
}

.btn.redline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.redline:hover:before,
.btn.redline:hover:after {
	width: 51%;
}

/*Yellow Line*/
.btn.yellowline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.yellowline span {
	z-index: 1;
	text-align: center;
}

.btn.yellowline:before,
.btn.yellowline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #f6d71a;
}

.btn.yellowline:before {
	left: 0;
}

.btn.yellowline:after {
	right: 0;
}

.btn.yellowline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.yellowline:hover:before,
.btn.yellowline:hover:after {
	width: 51%;
}

/*Green Line*/
.btn.greenline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.greenline span {
	z-index: 1;
	text-align: center;
}

.btn.greenline:before,
.btn.greenline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #57ad58;
}

.btn.greenline:before {
	left: 0;
}

.btn.greenline:after {
	right: 0;
}

.btn.greenline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.greenline:hover:before,
.btn.greenline:hover:after {
	width: 51%;
}


/*Voilet Line*/
.btn.voiletline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.voiletline span {
	z-index: 1;
	text-align: center;
}

.btn.voiletline:before,
.btn.voiletline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #57ad58;
}

.btn.voiletline:before {
	left: 0;
}

.btn.voiletline:after {
	right: 0;
}

.btn.voiletline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.voiletline:hover:before,
.btn.voiletline:hover:after {
	width: 51%;
}

/*Voilet Line*/
.btn.voiletline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.voiletline span {
	z-index: 1;
	text-align: center;
}

.btn.voiletline:before,
.btn.voiletline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #8115ff;
}

.btn.voiletline:before {
	left: 0;
}

.btn.voiletline:after {
	right: 0;
}

.btn.voiletline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.voiletline:hover:before,
.btn.voiletline:hover:after {
	width: 51%;
}

/*Pink Line*/
.btn.pinkline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.pinkline span {
	z-index: 1;
	text-align: center;
}

.btn.pinkline:before,
.btn.pinkline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #ed91c9;
}

.btn.pinkline:before {
	left: 0;
}

.btn.pinkline:after {
	right: 0;
}

.btn.pinkline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.pinkline:hover:before,
.btn.pinkline:hover:after {
	width: 51%;
}

/*Magenta Line*/
.btn.magentaline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.magentaline span {
	z-index: 1;
	text-align: center;
}

.btn.magentaline:before,
.btn.magentaline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #ff00ff;
}

.btn.magentaline:before {
	left: 0;
}

.btn.magentaline:after {
	right: 0;
}

.btn.magentaline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.magentaline:hover:before,
.btn.magentaline:hover:after {
	width: 51%;
}

/*Grey Line*/
.btn.greyline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.greyline span {
	z-index: 1;
	text-align: center;
}

.btn.greyline:before,
.btn.greyline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #808080;
}

.btn.greyline:before {
	left: 0;
}

.btn.greyline:after {
	right: 0;
}

.btn.greyline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.greyline:hover:before,
.btn.greyline:hover:after {
	width: 51%;
}

/*Orange Line*/
.btn.orangeline {
	min-width: 160px;
	width: fit-content;
	width: -moz-fit-content;
	background-color: white;
	padding: 0 30px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: black;
	letter-spacing: 2.8px;
	font-weight: 700;
	line-height: 1.6;
	box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
	position: relative;
	transition: all 0.4s ease;
	cursor: pointer;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 0;
	/* btn text */
}

.btn.orangeline span {
	z-index: 1;
	text-align: center;
}

.btn.orangeline:before,
.btn.orangeline:after {
	content: "";
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
	transition: all 0.4s ease;
	background-color: #f46808;
}

.btn.orangeline:before {
	left: 0;
}

.btn.orangeline:after {
	right: 0;
}

.btn.orangeline:hover {
	transition: all 0.4s ease;
	box-shadow: 0 8px 20px -12px rgba(0, 0, 0, 0.2);
	letter-spacing: 2px;
	color: white;
}

.btn.orangeline:hover:before,
.btn.orangeline:hover:after {
	width: 51%;
}

.btncenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
	/* Adjust this value based on your requirements */
}

/* RESPONSIVE DESIGN */

/* Extra Small devices (tablets, 446px and less) */
@media (max-width: 456px) {

	#mc_form .form-control {
		width: 100%;
		margin-bottom: 15px;
	}

	.button-leweb {
		width: 100%;
	}

	#header .logo {
		width: 200px;
	}

	#header h1 {
		display: none;
	}

}

/* Small devices (tablets, 768px and less) */
@media (max-width: 768px) {

	body {
		font-size: 14px;
		line-height: 20px;
	}

	h1 {
		font-size: 44px;
		line-height: 58px;
	}

	h2 {
		font-size: 24px;
		line-height: 38px;
	}

	h3 {
		font-size: 18px;
		line-height: 30px;
	}

	h4 {
		font-size: 16px;
		line-height: 26px;
	}

	h5 {
		font-size: 14px;
		line-height: 20px;
	}

	.clocktitle {
		font-size: 11px;
	}

	.numbers {
		font-size: 44px;
	}

	#header .col-md-8 {
		top: 5%;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

	#about .middle {
		margin-top: 65px;
		margin-bottom: 65px;
	}
}